/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";

@font-face {
	src:url("../assets/Effra_Std_Rg.ttf");
	fontFamily: Effa;
	embedAsCFF: true;
}

@font-face {
	src:url("../assets/Effra_Std_Bd.ttf");
	fontFamily: Effa;
	fontWeight: bold;
	embedAsCFF: true;
}

s|Button.continuar
{
	backgroundColor: #667700;
	backgroundImage:"assets/continuar.png";
	borderVisible: false;
	
}
.continuar
{
	fontStyle: normal;
	fontWeight: bold;
	backgroundImage:"assets/continuar.png";
	borderVisible: 0;
}

.chamadas {
	fontSize: 18px;
}

.inputT {
	backgroundAlpha: 1.0;
	backgroundColor: #000;
	borderVisible: false;
	paddingBottom: 20px;
}
s|Label
{
	color: #880001;
	fontFamily: Effa;
	fontSize: 24;
}
global
{
	focus-color: #880001;
	font-family: Effa;
	content-background-color: #FFFFFF;
}
s|TextInput
{
	fontSize: 18px;
	textAlign: left;
	
}